.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#RegForm{

    width:40%;
}

.dropdown-menu{
    padding:5px;
    width:200px;
}

body{
    margin-top:80px;
}


